<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/public/styles.css" type="text/css" rel="stylesheet">
  </head>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/greeting">Greet me</a></li>
      <li><a href="/history">History</a>
    </ul>
  </nav>
  <body>
    {{{body}}}
  </body>
</html>
