<title>History</title>
<br/>
<h4><u>People Greeted thus far</u></h4>
<ul class="greetedNames">
  {{#each names}}
    <li><a href="counter/{{this.name}}">{{this.greetCount}}</a></li>
  {{/each}}
</ul>
