<title>History</title>
<br/>
<h4><u>Greeted People</u></h4>
<table align="center">
<ol>
  {{#each names}}
  <tr>
    <td><li><a href="counter/{{this}}">{{this}}</a></li></td>
  </tr>
  {{/each}}
</ol>
</table>
