body {background: skyblue; text-align: center;}
h1 {
  font-family: verdana;
  font-size: 90px;
  text-align: center;
  color: #fff;
}
h2 {
  font-family: verdana;
  font-size: 50px;
  text-align: center;
  color: #fff;
  letter-spacing: .1em;
}
p {
  text-align: center;
  font-family: verdana;
  color: #fff;
  font-size: 30px;
}
form p {display: inline-block; cursor: pointer;}
label {
  color: #fff;
  font-weight: bolder;
}
form {
  text-align: center;
  font-size: 40px;
}
.name {
  padding: 5px;
}
.greet-btn {
  padding: 5px 50px;
  background: rgba(0, 0, 255, 0.3);
  cursor: pointer;
  font-weight: bolder;
}
.nav {font-size: 30px; font-weight: bolder; color: #fff; list-style: none; display: inline-block;}
ol {clear: both; color: blue; font-weight: 100; display: inline-block;}
.names {color: white; font-size: 30px;}
.counter {font-size: 50px; font-weight: bolder; color: #fff;}
